body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: "Agency FB", serif;
    font-size: 100px;
}

button:hover{
    transform: scale(110%);
    transition: all 1s;
}

a{
    color: white;
    text-decoration: none;
}